
<div>
    <table class="table">
        <tbody>
            <div class="card" style="width: 18rem;">
            <h1>{{ character.name }}</h1>
            <img class="card-img-top" src="{{ character.image }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{ character.name }} est un {{ character.caste }}, il est connu sous le nom de "{{ character.surname }}".</br>Il a une intelligence de {{ character.intelligence }} et {{ character.life }} points de vie.</br>Il est fort dans les {{ character.knowledge }}.</br>Il fait partie du jeu La Guilde des Seigneurs !</p>
            </div>
            </div>
        </tbody>
    </table>
</div>
